<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 启用注解 -->
	<context:annotation-config />
	<!-- 描述包 -->
	<context:component-scan base-package="com.bjjhzh.efk">
		<!-- 排除指定的包。此包将由spring-web处理 -->
		<context:exclude-filter type="regex"
			expression="com.bjjhzh.efk.core.service.external.restful" />
	</context:component-scan>
</beans>
